.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.storage__navbar-menu_container-links button {
        background: #FFCE31;
    border-radius: 10px;
    padding: 8px 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.storage__navbar-menu_container-links div {
    cursor: pointer;
}

.storage__navbar-menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    background: var(--color-footer);
    right: 0;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
  }

  .storage__navbar-menu_container div {
    margin: 1rem 0;
  }
  @media only screen and (max-width: 1050px){

    .storage__navbar-menu_container-links {
        display: flex;
        flex-direction: column;
    }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
