.lady__div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0 0 0;
    flex-direction: row-reverse;
    font-family: var(--Poppins);
}

.storage__div-first {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.storage__div button {
    background: #1849C6;
border-radius: 10px;
border: none;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 30px;
color: #fff;
margin-top: 40px;
}

.storage__div-header {
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
    color: #021850;
}

.storage__div-text {
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: rgba(0, 1, 3, 0.7);
margin-top: 20px;
}

@media only screen and (max-width: 900px){
    .lady__div {
      display: flex;
      flex-direction: column;
    }
  
    .storage__div-first {
      display: flex;
      width: 90%!important;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 40px;
    }
    
    .storage__div-header {
      font-weight: 700;
      font-size: 20px;
      line-height: 50px!important;
      color: #021850;
  }
  }